html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Kumbh Sans", ;
  color: black;
  font-weight: normal;

}


/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 28px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: blue;
}

.description p {
  font-family: "PT Sans", ;
}

::-webkit-scrollbar{
  display: none;
}

.static {
  position: absolute;

}

.static:hover {
  opacity:0%;
}

.left {
  height: 100%;
  width: 20%;
  background-size: 800px;;
  position: absolute;
  top: 15;
  left: 0;
  overflow: scroll;
}




.cube {
  shadow: 0px 1px 1px #4d4d4d;
  position: inherit;
  opacity: 0.6;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  display: inline-block;
}

.left img:hover,
.left img:active,
.left img.selected {
  outline: none;
  border-color: #9ecaed;
}



.middle {
  position: absolute;
  float: left;
  height: 100%;
  width: 60%;
  left: 20%;
  top: 0;
  overflow: scroll;
  margin-top: 40px;


}

.content {
  width: 100%;
  height: 100%;
  margin-top: 200px;
  text-align: center;
  margin: 0 auto;

}

.content img {
  /*border: 1px solid yellow;*/
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;


}


#popup-temp { display: block }
#popup-temp img {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
  margin-top: 0%;
  border: 1px solid red;
  display: inline-block;

}



.popup {
  display: none
}
.popup .title,
.popup .description { display: none }


.popup .title {
  color: #9ecaed;
  text-shadow : horizontal-shadow vertical-shadow blur color;
}

a {
    color: #006ec6;
}
a:visited {
    color: #006ec6;
}
a:hover {
    color: #9ecaed;
}

.information {
  vertical-align: top;
  height: auto;
  padding: 20px;
  float: left;
  opacity: 0.8;
  display: block;
  overflow: scroll;
  font-family:"roboto";
  line-height: 1.6;
  font-size: 13px;

}

/* A link that has not been visited /*


/* RIGHT PANNEL */
.right-pane {
  float: right;
  height: 100%;
  width: 20%;
  top:0;
  right:0;
  background-size: 800px;
  overflow: scroll;
}

.first {
  height: 90%;
  width: 16%;
  margin-right: 2%;
  margin-top: 2.5%;
  position: absolute;
  outline: none;




}





/* END RIGHT PANNEL */
